{% set image_crop_url = path('image_crop_crop_image', {image_crop_mapping: image_crop_mapping, image_name: image_name}) %}

{% if image_crop_popup == 'popup' %}
  <a href="#" onclick="window.open('{{ image_crop_url }}', 'ImageCropBundle', 'width={{ image_crop_popup_width }}, height={{ image_crop_popup_height }}'); return false;">{{ 'image_crop'|trans({}, 'ImageCropBundle') }}</a>
{% elseif image_crop_popup == 'colorbox' %}
  <a href="{{ image_crop_url }}&width={{ image_crop_popup_width }}px&height={{ image_crop_popup_width }}px" id="linkColorboxImageCrop">{{ 'image_crop'|trans({}, 'ImageCropBundle') }}</a>
{% elseif image_crop_popup == 'bootstrap' %}
  <button type="button" class="btn" data-toggle="modal" data-target="#modalImageCropBundle">
    {{ 'image_crop'|trans({}, 'ImageCropBundle') }}
  </button>

  <div class="modal fade" id="modalImageCropBundle" tabindex="-1" role="dialog" aria-labelledby="ImageCropBundle">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="ImageCropBundle">&nbsp;</h4>
        </div>
        <div class="modal-body">
          <iframe src="{{ image_crop_url }}" frameborder="0" width="100%" height="{{ image_crop_popup_height }}"></iframe>
        </div>
      </div>
    </div>
  </div>
{% else %}
  <iframe src="{{ image_crop_url }}" frameborder="0" width="{{ image_crop_popup_width }}" height="{{ image_crop_popup_height }}"></iframe>
{% endif %}